<MudCard>
    <MudCardContent>
        <MudText>@ArticleDetails.Title</MudText>
        <MudText Typo="Typo.body2">@ArticleDetails.ShortDesc</MudText>
    </MudCardContent>
    <MudCardActions>
        <a href="articles/@ArticleDetails.Id">
            <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton>
        </a>
    </MudCardActions>
</MudCard>