@inherits LayoutComponentBase

<div class="page">

    <MudAppBar>
        <MudIcon Icon=@Icons.Filled.BubbleChart Size=Size.Large />
        <a href="">
            <MudButton Style="margin-left:15px" Variant=Variant.Text>Читать</MudButton>
        </a>
        <AuthorizeView Roles="Editor, Administrator">
            <Authorized>
                <a href="ArticlesEditor">
                    <MudButton Style="margin-left:15px" Variant=Variant.Text>Редактировать</MudButton>
                </a>
            </Authorized>
        </AuthorizeView>
        <a href="Login">
            <MudButton Style="margin-left:15px" Variant=Variant.Text>Войти</MudButton>
        </a>
    </MudAppBar>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<MudThemeProvider IsDarkMode=true />
<MudDialogProvider />
<MudSnackbarProvider />
