@page "/ArticlesEditor/"

<PageTitle>Редактор</PageTitle>

<MudDrawerContainer Class="mud-height-full">
    <ArticlesSidebarEditor FilterOut=FilterOut @bind-Filter=filter />
    <div class="px-4 justify-center align-center mud-height-full">
        <MudPagination Style="padding:10px" SelectedChanged=PageChanged Variant="Variant.Outlined" Count=pagesAmount />
        @foreach (var article in articles)
        {
            <ArticleCard_Editor DeleteArticle=@(()=>DeleteArticle(article)) ArticleDetails=article />
        }
    </div>
</MudDrawerContainer>