@page "/"

<PageTitle>News</PageTitle>

<MudDrawerContainer Class="mud-height-full">
    <ArticlesSidebarReader @bind-Filter=filter />
    <div class="d-flex justify-center align-center mud-height-full">
        @foreach (var article in articles)
        {
            <MudCard>
                <MudCardContent>
                    <MudText>@article.Title</MudText>
                    <MudText Typo="Typo.body2">@article.ShortDesc</MudText>
                </MudCardContent>
                <MudCardActions>
                    <a href="articles/@article.Id">
                        <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton>
                    </a>
                </MudCardActions>
            </MudCard>
        }
    </div>
</MudDrawerContainer>