@page "/"

<PageTitle>Новости</PageTitle>

<MudDrawerContainer Class="mud-height-full">
    <ArticlesSidebarReader @bind-Filter=filter />
    <div class="px-4 justify-center align-center mud-height-full">
        <MudPagination Variant="Variant.Outlined" Count="4" />
        @foreach (var article in articles)
        {
            <ArticleCard_Reader ArticleDetails=article />
        }
    </div>
</MudDrawerContainer>